@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #ffe6f0; /* Fundo rosa clarinho */
    font-family: 'Roboto', sans-serif;
    margin: 40px; /* Margem geral ao redor do conteúdo */
    padding: 0;
    text-align: center;
}

/* Estilo do título */
h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

/* Imagens centralizadas */
img {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
}

/* Texto em linha corrente (padrão) */
h3 {
    display: inline;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Texto em linha corrente (padrão) */
p {
    display: inline;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}